@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 79.2%;
  margin: 0 auto;
}

/* css reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* common styling */
.flex {
  display: flex;
}

a {
  font-family: 'Montserrat', sans-serif;
}

/* root elements  */
:root {
  --white-color: #fff;
  --black-color: #000;
  --cta-color: #CE3133;
  --font-color: #909090;
  --section-bg-color: #f9f9f9;
}

/*=================================
  Header styling starts here
=================================*/
.container {
  position: relative;
}

.header {
  padding: 24px 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.logo,
.nav-item,
.call,
.cta a {
  color: var(--white-color);
}

.logo {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 800;
}

.dot {
  color: var(--cta-color);
}

.nav-item {
  padding: 15px 17px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
}

.reserve-cta {
  padding: 10px 24px;
  border: none;
  background: var(--cta-color);
  font-size: 15px;
  transition: all .3s;
}

.nav {
  margin-right: 5%;
}

.call {
  padding: 15px 22px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.brand-logo {
  margin-right: 10%;
}

.call-cta {
  display: inline-block;
}

.call-cta::before {
  content: "\f095";
  margin: 0 5px 0;
  color: var(--white-color);
  font-size: 11px;
  font-family: "FontAwesome";
  float: left;
}

/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
/*=================================
  hero section styling starts here
=================================*/
.hero-section .wrapper {
  width: 100%;
  position: relative;
}

.banner {
  width: 100%;
  position: relative;
}

.banner-content {
  padding: 228px 0 175px;
  margin-left: 11.5%;
  position: absolute;
  top: 0;
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
}

.banner-subheading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.banner-heading {
  font-size: 39px;
  font-weight: 700;
  margin: 15px 0 35px;
}

.banner:not(:first-child) {
  display: none;
}

.banner img {
  max-height: 610px;
  object-fit: cover;
}

.banner-cta {
  padding: 10px 25px;
  font-size: 15px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

.slider-cta {
  position: absolute;
  top: 52.5%;
  right: 10px;
  display: flex;
  flex-direction: column;
  text-indent: -9999px;
}

.slider-btn {
  display: inline-block;
}

.slider-btn::before {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  float: left;
}

.slider-btn.active::before {
  background-color: var(--white-color);
}

.slider-btn.active::before {
  background-color: var(--white-color);
}
/*=================================
  hero section styling ends here
=================================*/
/*=================================
  about section styling starts here
=================================*/
.about {
  padding: 95px 0 80px;
}

.about .title {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--font-color);
  font-weight: 800;
}

.about .heading {
  font-size: 26px;
  font-weight: 800;
  margin: 10px 0 30px;
  line-height: 38px;
  text-align: left;
}

.about-left {
  flex-basis: 48%;
}

.about-right {
  flex-basis: 52%;
}

.about-left {
  padding-right: 6.5%;
}

.about-para {
  font-size: 13px;
  font-weight: 600;
  color: var(--font-color);
  line-height: 22px;
  margin-bottom: 8px;
}

.template {
  color: var(--black-color);
  font-weight: lighter;
  font-size: 14px;
}

.about-right img {
  object-fit: cover;
}

/*=================================
  about section styling ends here
=================================*/
/*=================================
  chef section styling starts here
=================================*/
.chef {
  padding: 98px 0;
  background-color: var(--section-bg-color);
}

.heading {
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: 1000;
}

.heading,
.subheading {
  display: block;
  text-align: center;
}

.subheading {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  color: var(--font-color);
}

.chef-list {
  margin-top: 50px;
}

.chef-item {
  flex-basis: 32%;
  margin-right: 2.7%;
}

.hover-info {
  position: relative;
  overflow: hidden;
}

.chef-item:nth-child(3n) {
  margin-right: 0;
}

.chef-details {
  padding: 25px 23%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white-color);
  background-color: rgba(0, 0, 0, .6);
  transform: translateY(100%);
  transition: all .5s;
}

.chef-details p {
  text-align: center;
  line-height: 25px;
}

.chef-icon {
  display: inline-block;
  text-indent: -9999px;
}

.chef-icon::before {
  content: "\f0e1";
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454545;
  color: var(--white-color);
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.envelope::before {
  content: "\f0e0";
}

.chef-info {
  padding: 35px 5% 20px;
  text-align: center;
}

.chef-name {
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 5px;
}

.designation {
  font-size: 12px;
  font-weight: 1000;
  text-transform: uppercase;
  color: var(--font-color);
}
/*=================================
  chef section styling ends here
=================================*/
/*=================================
  menus section styling starts here
=================================*/
.menu-section {
  padding-top: 100px;
}

.menu-section .wrapper{
  width: 100%;
}

.menu-list {
  margin-top: 46px;
  flex-wrap: wrap;
}

.menu-item {
  flex-basis: 33.33%;
  position: relative;
  overflow: hidden;
}

.menu-cta {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

.menu-content {
  width: 100%;
  padding: 20px 20px 40px;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  color: var(--white-color);
  bottom: 0;
  transform: translateY(100%);
  transition: all .4s;
}

.item-name {
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 10px;
}

.variety {
  font-size: 14px;
  font-weight: 700;
}

.price {
  font-size: 20px;
  font-weight: 1000;
}
/*=================================
  menus section styling ends here
=================================*/
/*=================================
  testimonial section styling starts here
=================================*/
.testimonial {
  position: relative;
  padding: 100px 0;
  background: url(../images/testimonial-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white-color);
  font-size: 17px;
}

.testimonial .heading {
  margin-bottom: 48px;
}

.testimonial-item:not(:first-child) {
  display: none;
}

.testimonial .slider-btn {
  margin-right: 4px;
  text-indent: -9999px;
}

.testimonial-list {
  text-align: center;
  line-height: 32px;
}

.testimonial-item {
  width: 75%;
}

.name-info { margin-top: 17px; }

.name-info .name {
  font-size: 18px;
  font-weight: 800;
}

.quote {
  font-size: 13px;
}

.testimonial-cta {
  text-align: center;
  margin-top: 26px;
}
/*=================================
  testimonial section styling ends here
=================================*/

/*=================================
  contact section styling starts here
=================================*/
.contact {
  padding: 92px 0;
  border-bottom: 1px solid #f7f7f7;
}

iframe {
  margin-right: 4%;
  flex-basis: 48.5%;
  min-height: 370px;
}

.contact-box { flex-basis: 47.5%; }

.contact-box .heading {
  text-align: left;
}

.input-box input,
textarea {
  width: 100%;
  padding: 20px 12px;
  border: none;
  border-bottom: 1px solid var(--font-color);
  outline: none;
  resize: none;
}

textarea { padding: 16px 12px; }

form {
  margin-right: 15px;
}

.input-row .input-box:nth-child(1) {
  margin-right: 5%;
}

.input-row .input-box {
  flex-basis: 47.5%;
}

input::placeholder,
textarea::placeholder {
  font-size: 13px;
}

input,
textarea {
  margin-bottom: 12px;
}

.submit-btn {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--cta-color);
  padding: 16px 0;
  color: var(--white-color);
  font-weight: 800;
  transition: all .3s;
}

.contact .heading { margin-bottom: 7px; }
/*=================================
    contact section styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
.footer {
  padding: 95px 0 68px;
}

/* .footer .wrapper {
  justify-content: space-between;
} */

.footer-menu {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 22px;
}

.social {
  margin: 40px 0;
}

.footer-item:nth-child(1) {
  flex-basis: 52%;
}

.footer-list {
  padding-top: 39px;
  flex-basis: 49.5%;
}

.open-hours {
  flex-basis: 31.5%;
}

address {
  padding-right: 33%;
  font-size: 15px;
  color: var(--font-color);
  line-height: 22px;
}


.open-hours {
  padding: 42px 75px 52px;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/footer-open-hour-bg.jpg) center no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  color: var(--white-color);
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.open-hours .footer-menu {
  text-align: left;
  margin-bottom: 20px;
}

.time {
  font-size: 13px;
}

.days {
  font-size: 14px;
  font-weight: 700;
  display: block;
}


.social-icon {
  display: inline-block;
  text-indent: -9999px;
  
}

.social-icon::before {
  content: "\f082";
  font-family: "FontAwesome";
  float: left;
  color: var(--cta-color);
  text-indent: 0;
  font-size: 13px;
  margin-right: 22px;
}

.twitter::before { content: "\f099"; }
.instagram::before { content: "\f16d"; }
.google::before { 
  content: "\f1a0";
  margin-right: 0;
}


.copyright-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright-div span,
.copyright-div a {
  color: var(--font-color);
  font-size: 14px;
}

.copyright-div span:not(:first-child) {
  display: inline-block;
  line-height: 30px;
}

.design {
  margin-top: 14px;
}

.social-footer {
  margin-left: 4.5%;
  display: flex;
  flex-direction: column;
}

.reachout-list {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.reachout-list li {
  line-height: 22px;
}

.reachout-list .number:nth-child(1) {
  border-right: 1px solid var(--font-color);
}

.line {
  text-transform: uppercase;
}

.line a { text-transform: lowercase; }

.reachout-list a {
 font-size: 13px;
 color: var(--font-color);
}

.number:nth-child(1) { padding-right: 5px; }

.line {
  color: var(--font-color);
}

.hour-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for hover effect 996px starts here*/
@media only screen and (min-width: 996px) {
  .nav-item:hover,
  .call-cta:hover {
    color: var(--cta-color);
    transition: all .3s;
  }

  .reserve-cta:hover {
    background-color: #282828;
    transition: all .3s;
  }

  .banner-cta:hover {
    background-color: var(--cta-color);
    border-color: transparent;
    transition: all .3s;
  }

  .hover-info:hover .chef-details {
    transform: translateY(0);
    transition: all .5s;
  }

  .chef-icon:hover::before {
    background-color: var(--cta-color);
    transform: scale(.95);
    transition: all .3s;
  }

  .menu-item:hover .menu-content {
    transform: translateY(0);
    transition: all .4s;
  }

  .social-icon:hover::before {
    transform: scale(1.08);
    transition: all .3s;
  }

  .number:hover,
  .email:hover,
  .line a:hover,
  .template:hover {
    color: red;
    transition: all .3s;
  }

  .submit-btn:hover {
    background-color: #292929;
    transition: all .3s;
  }
}
/*media query for hover effect 996px ends here*/
