@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 79.3%;
  margin: 0 auto;
}

/* css reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* common styling */
.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

a { font-family: 'Montserrat', sans-serif; }

.heading { color: #353535; }

.banner::before,
.testimonial::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background: rgba(0, 0, 0, .4);
}

/* root elements  */
:root {
  --white-color: #fff;
  --black-color: #000;
  --light-black : #454545;
  --cta-color: #CE3133;
  --font-color: #757575;
  --section-bg-color: #f9f9f9;
}

/* scroll bar styling  */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb { background-color: var(--black-color); }

html { scroll-behavior: smooth; }
/*=================================
  Header styling starts here
=================================*/
.container { position: relative; }

.header .wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  padding: 27px 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.logo,
.nav-item,
.call,
.cta a {
  color: var(--white-color);
}

.logo {
  padding: 10px 0;
  font-size: 17px;
  font-weight: 700;
}

.dot { color: var(--cta-color); }

.nav-item {
  padding: 15px 17px;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.reserve-cta {
  padding: 10px 24px;
  border: none;
  background: var(--cta-color);
  font-size: 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.call {
  padding: 15px 22px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.call-cta { display: inline-block; }

.call-cta::before {
  content: "\f095";
  margin: 0 5px 0;
  color: var(--white-color);
  font-size: 11px;
  font-family: "FontAwesome";
  float: left;
}

.header.scroll {
  padding: 20px 0;
  background-color: var(--white-color);
  color: var(--light-black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header.scroll .nav-item,
.header.scroll .logo,
.header.scroll .call,
.header.scroll .call-cta,
.header.scroll .call-cta::before {
  color: var(--light-black);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar,
.bar::before,
.bar::after {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  display: inline-block;
  position: relative;
  background-color: var(--black-color);
  text-indent: -9999px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.bar::before,
.bar::after {
  content: "";
  margin: 7px 0;
  position: absolute;
  top: 0;
  left: 0;
}

.bar::after { top: 7px; }

html.remove-scroll { overflow-y: hidden; }
/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
/*=================================
  hero section styling starts here
=================================*/
.hero-section .wrapper {
  width: 100%;
  position: relative;
}

.banner {
  width: 100%;
  position: relative;
}

.banner-content {
  width: 47%;
  height: 100%;
  padding: 228px 0 175px;
  margin-left: 11.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  color: var(--white-color);
}

.banner-subheading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.banner-heading {
  margin: 15px 0 40px;
  font-size: 39px;
  font-weight: 700;
}

.banner img {
  max-height: 610px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-list { overflow: hidden; }

.banner-cta {
  padding: 10px 23px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-size: 13px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 52.5%;
  right: 2.3%;
  text-indent: -9999px;
}

.slick-dots li {
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}

.slick-dots li::before {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  float: left;
}

.slick-dots li.slick-active::before { background-color: var(--white-color); }
/*=================================
  hero section styling ends here
=================================*/
/*=================================
  about section styling starts here
=================================*/
.about { padding: 90px 0 42px; }

.about .title {
  display: inline-block;
  color: var(--font-color);
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
}

.about .heading {
  margin: 10px 0 28px;
  font-size: 26px;
  font-weight: 800;
  line-height: 38px;
  text-align: left;
}

.about-left { -ms-flex-preferred-size: 51%; flex-basis: 51%; }
.about-right { -ms-flex-preferred-size: 49%; flex-basis: 49%; }
.about-left { padding-right: 10.5%; }

.about-para {
  margin-bottom: 8px;
  color: var(--font-color);
  font-size: 13px;
  line-height: 22px;
}

.template {
  color: var(--black-color);
  font-size: 14px;
  font-weight: lighter;
}

.about-right img { -o-object-fit: cover; object-fit: cover; }
/*=================================
  about section styling ends here
=================================*/
/*=================================
  chef section styling starts here
=================================*/
.chef {
  padding: 98px 0;
  background-color: var(--section-bg-color);
}

.heading {
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: 1000;
}

.heading,
.subheading {
  display: block;
  text-align: center;
}

.subheading {
  color: var(--font-color);
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
}

.chef-list { margin-top: 50px; }

.chef-item {
  -ms-flex-preferred-size: 31.2%;
      flex-basis: 31.2%;
  margin-right: 3.3%;
}

.hover-info {
  position: relative;
  overflow: hidden;
}

.chef-item:nth-child(3n) { margin-right: 0; }

.chef-details {
  width: 100%;
  height: 100%;
  padding: 25px 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, .7);
  color: var(--white-color);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.chef-details p {
  text-align: center;
  line-height: 25px;
}

.chef-icon {
  display: inline-block;
  text-indent: -9999px;
}

.chef-icon::before {
  content: "\f0e1";
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #454545;
  color: var(--white-color);
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.envelope::before { content: "\f0e0"; }

.chef-info {
  padding: 35px 5% 20px;
  text-align: center;
}

.chef-name {
  margin-bottom: 5px;
  color: var(--light-black);
  font-size: 20px;
  font-weight: 1000;
}

.designation {
  color: #bfbdbd;
  font-size: 12px;
  font-weight: 1000;
  text-transform: uppercase;
}
/*=================================
  chef section styling ends here
=================================*/
/*=================================
  menus section styling starts here
=================================*/
.menu-section { padding-top: 100px; }
.menu-section .wrapper{ width: 100%; }

.menu-list {
  margin-top: 46px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  position: relative;
  overflow: hidden;
}

.menu-cta {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

.menu-content {
  width: 100%;
  padding: 20px 20px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  color: var(--white-color);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.item-name {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 18px;
}

.variety {
  font-size: 14px;
  font-weight: 700;
}

.price {
  font-size: 20px;
  font-weight: 1000;
}

.modal-box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: rgba(0, 0, 0, .7);
}

.close-btn {
  display: block;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  cursor: pointer;
}

.product-name {
  display: block;
  background-color: var(--light-black);
  color: var(--white-color);
}

.prev-control,
.next-control {
  display: inline-block;
  text-indent: -9999px;
}

.prev-control::before,
.next-control::before {
  content: "\f0d9";
  padding: 5px 10px;
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  font-size: 50px;
  float: left;
  text-indent: 0;
}

.next-control::before {
  content: "\f0da";
  left: auto;
  right: 0;
}
/*=================================
  menus section styling ends here
=================================*/
/*=================================
  testimonial section styling starts here
=================================*/
.testimonial {
  position: relative;
  padding: 100px 0;
  background: url(../images/testimonial-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white-color);
  font-size: 17px;
}

.testimonial .heading {
  margin-bottom: 48px;
  color: var(--white-color);
}

.testimonial .slider-btn {
  margin-right: 4px;
  text-indent: -9999px;
}

.testimonial-list {
  text-align: center;
  line-height: 32px;
  overflow: hidden;
}

.testimonial-list .slick-dots {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: inherit;
  text-align: center;
}

.testimonial-list .slick-dots li { margin-right: 7px; }
.testimonial-item { padding: 0 6.5%; }
.name-info { margin-top: 17px; }

.name-info .name {
  font-size: 18px;
  font-weight: 800;
}

.quote { font-size: 13px; }

.testimonial-cta {
  text-align: center;
  margin-top: 26px;
}
/*=================================
  testimonial section styling ends here
=================================*/

/*=================================
  contact section styling starts here
=================================*/
.contact {
  padding: 92px 0;
  border-bottom: 1px solid #0000000d;
}

iframe {
  margin-right: 4%;
  -ms-flex-preferred-size: 48.5%;
      flex-basis: 48.5%;
  min-height: 370px;
}

.contact-box { -ms-flex-preferred-size: 47.5%; flex-basis: 47.5%; }
.contact-box .heading { text-align: left; }

.input-box input,
textarea {
  width: 100%;
  padding: 20px 12px;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  outline: none;
  resize: none;
}

textarea { padding: 16px 12px; }
form { margin-right: 15px; }

.input-row .input-box:nth-child(1) { margin-right: 5%; }
.input-row .input-box { -ms-flex-preferred-size: 47.5%; flex-basis: 47.5%; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 13px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 13px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 13px;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 13px;
}

input::placeholder,
textarea::placeholder {
  font-size: 13px;
}

input,
textarea {
  margin-bottom: 12px;
}

.submit-btn {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--cta-color);
  padding: 16px 0;
  color: var(--white-color);
  font-weight: 800;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.contact .heading { margin-bottom: 7px; }
.input-box { position: relative; }

.error,
.msg-box .error {
  position: absolute;
  z-index: 1;
  bottom: -6px;
  left: 0;
  color: red;
  font-size: 12px;
}

.msg-box { position: relative; }
.msg-box .error { bottom: 1px; }
.contact { position: relative; }

.success-msg {
  position: absolute;
  top: 40px;
  right: 24%;
  color: green;
}
/*=================================
    contact section styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
.footer { padding: 95px 0 68px; }

.footer-menu {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 22px;
}

.social { margin: 34px 0; }
.footer-item:nth-child(1) { -ms-flex-preferred-size: 52%; flex-basis: 52%; }

.footer-list {
  padding-top: 39px;
  -ms-flex-preferred-size: 49.5%;
      flex-basis: 49.5%;
}

.open-hours { -ms-flex-preferred-size: 31.5%; flex-basis: 31.5%; }

address {
  padding-right: 38%;
  font-size: 14px;
  color: var(--font-color);
  line-height: 22px;
}


.open-hours {
  padding: 42px 7% 52px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.8)),to(rgba(0,0,0,.8))), url(../images/footer-open-hour-bg.jpg) center no-repeat;
  background: -o-linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(../images/footer-open-hour-bg.jpg) center no-repeat;
  background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(../images/footer-open-hour-bg.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
  color: var(--white-color);
}

.open-hours .footer-menu {
  text-align: left;
  margin-bottom: 20px;
}

.time { font-size: 13px; }

.days {
  display: block;
  font-size: 14px;
  font-weight: 700;
}

.social-icon {
  display: inline-block;
  text-indent: -9999px;  
}

.social-icon::before {
  content: "\f082";
  width: 31px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--cta-color);
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
  font-size: 13px;
}

.twitter::before { content: "\f099"; }
.instagram::before { content: "\f16d"; }

.google::before { 
  content: "\f1a0";
  margin-right: 0;
}

.copyright-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright-div span,
.copyright-div a {
  color: var(--font-color);
  font-size: 14px;
}

.copyright-div span:not(:first-child) {
  display: inline-block;
  line-height: 30px;
}

.design { margin-top: 14px; }

.social-footer {
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reachout-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
}

.reachout-list li { line-height: 22px; }
.line { text-transform: uppercase; }
.line a { text-transform: lowercase; }

.reachout-list a {
 font-size: 13px;
 color: var(--font-color);
}

.number:nth-child(1) { padding-right: 5px; }
.line { color: var(--font-color); }

.hour-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for hover effect 996px starts here*/
@media only screen and (min-width: 996px) {
  .nav-item:hover,
  .call-cta:hover {
    color: var(--cta-color);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .reserve-cta:hover {
    background-color: #282828;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .banner-cta:hover {
    background-color: var(--cta-color);
    border-color: transparent;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .hover-info:hover .chef-details {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .chef-icon:hover::before {
    background-color: var(--cta-color);
    -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
            transform: scale(.95);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .menu-item:hover .menu-content {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
  }

  .social-icon:hover::before {
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
            transform: scale(1.08);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .number:hover,
  .email:hover,
  .line a:hover,
  .template:hover {
    color: red;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .submit-btn:hover {
    background-color: #292929;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
}
/*media query for hover effect 996px ends here*/
/*media query for 1280 starts here*/
@media screen and (max-width:1280px) {
  .nav-item { padding: 13px 10px; }

  .call { padding: 12px; }
  .reserve-cta { padding: 8px 15px; }
  .banner img { max-height: inherit; }

  .banner-content {
    width: 75%;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*media query for 1280px ends here*/
/*media query for 1024px starts here*/
@media screen and (max-width:1024px) {
  .nav-item,
  .call {
    font-size: 11px;
  }

  .banner-subheading { font-size: 12px; }
  .banner-heading { font-size: 32px; }
  .slider-cta { -webkit-transform: translateY(-52%); -ms-transform: translateY(-52%); transform: translateY(-52%); }
  .testimonial-item { padding: 0 ; }
}
/*media query for 1024px starts here*/

/*media query for 995px starts here*/
@media screen and (max-width:995px) {
  .header {
    position: sticky;
    background-color: var(--white-color);
  }

  .logo { color: var(--light-black); }
  .nav-list { display: none; }
  .hamburger { display: block; }

  .hamburger.active {
    padding: 10px 0;
    display: block;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }

  .hamburger.active .bar::before { opacity: 0; }
  .hamburger.active .bar { -webkit-transform: translateY(0) rotate(45deg); -ms-transform: translateY(0) rotate(45deg); transform: translateY(0) rotate(45deg); }
  .hamburger.active .bar:after { -webkit-transform: translateY(-14px) rotate(-90deg); -ms-transform: translateY(-14px) rotate(-90deg); transform: translateY(-14px) rotate(-90deg); }

  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    left: -100%;
    background: var(--white-color);
  }

  .nav.active {
    left: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .nav.active .nav-list {
    height: 100%;
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .cta {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    bottom: 24%;
    left: -100%;
    gap: 15px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .cta.active { left: 50%; }
  .nav.active a { color: var(--light-black); }

  .cta.active .call-cta,
  .cta.active .call,
  .cta.active .call-cta::before  {
    color: var(--light-black);
  }

  .about { padding: 50px 0; }
  .about .wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .menu-section { padding-top: 50px; }

  .chef-details {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 20px;
    top: auto;
    bottom: 0;
    -webkit-transform: inherit;
        -ms-transform: inherit;
            transform: inherit;
  }

  .chef-details p { font-size: 12px; }

  .chef-icon::before {
    width: 30px;
    height: 30px;
    background-color: var(--cta-color);
  }

  .menu-content {
    padding: 20px;
    -webkit-transform: inherit;
        -ms-transform: inherit;
            transform: inherit;
  }

  .testimonial { padding: 30px 0; }
  .testimonial .heading { margin-bottom: 20px; }
  .contact { padding: 50px 0; }
  iframe { width: 100%; }

  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .footer .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
  }

  .footer-list { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

  .open-hours,
  .social-footer {
    -ms-flex-preferred-size: 44.5%;
        flex-basis: 44.5%;
  }

  .menu-item { -ms-flex-preferred-size: 50%; flex-basis: 50%; }
}
/*media query for 995px ends here*/

/*media query for 768px starts here*/
@media screen and (max-width:768px) {
  .banner-subheading { font-size: 10px; }
  .banner-heading { font-size: 26px; }
  .about-left { padding-right: 0; }
  .about .heading { font-size: 22px; }
  .about-para { font-size: 11px; }

  .menu-item {
    margin-bottom: 15px;
    -ms-flex-preferred-size: 48.3%;
        flex-basis: 48.3%;
  }

  .menu-list { gap: 3%; }
  .menu-content { padding: 5px 10px; }
  .item-name { font-size: 14px; }
  .variety { font-size: 11px; }
  .price { font-size: 15px; }
  .chef { padding: 40px 0; }

  .chef-list {
    margin-top: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .chef-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
  }

  .testimonial-item { width: 100%; }
  .testimonial-para { font-size: 14px; }
  .footer { padding: 20px 0; }

  .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .social { margin: 10px 0; }

  .open-hours,
  .social-footer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .modal-content { width: 70%; }
}
/*media query for 768px ends here*/

/*media query for 480px starts here*/
@media screen and (max-width:480px) {
  .header { padding: 10px 0; }

  .banner-heading {
    margin: 10px 0 20px;
    font-size: 18px;
  }

  .banner-cta { padding: 8px 15px; }

  .menu-section .wrapper { width: 79.3%; }
  .menu-list { margin-top: 20px; }
  .menu-item { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

  .about { padding: 30px 0; }
  .about .heading {
    margin: 5px 0 15px;
    font-size: 17px;
    line-height: 25px;
  }

  .about-para { line-height: 18px; }
  .about-para,
  .template {
    font-size: 10px;
  }

  .input-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .input-row .input-box:nth-child(1) { margin-right: 0; }

  .testimonial-para,
  .quote,
  .name {
    font-size: 12px;
  }
}
/*media query for 480px ends here*/